<h3>About</h3>

<p>Isn't commission on currency exchange ridiculous? We at Currex believe that anyone who wants to exchange currency from a foreign country should not be obliged to pay any commission--that's why we put people with foreign currency and people without foreign currency together!</p>
